@import url(https://fonts.googleapis.com/css?family=Inconsolata:700,400);

body {
    font-family: 'Inconsolata', sans-serif;
}

img {
    width:100%; 
}

p {
    text-align: justify;
}

#preamble {
    margin-top: 20px;
    display: none;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px;
    width:100%;
}

#header.lrg {
    text-align: center;
}

#header.lrg h4{
    font-weight: 100;
    color: #999999;
}

#header.sml {
    text-align: right;
}

#header.sml div{
    font-weight: 800;
}

#header.sml div#subtitle{
    font-weight: 100;
    color: #999999;
}

.title {
    margin-bottom: 40px;
    font-weight: bold;
    line-height: 0.8;
}

.title .timestamp-wrapper{
    display: block;
}

.title .timestamp{
    font-weight: lighter;
    font-size: 18px;
    color: #999999;
}

#content {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
    min-height: calc(100vh - 120px - 130px);
}

.post-list .timestamp-wrapper{
    float: right;
    margin-right: 30px;
}

#postamble {
    display: none;
}

#footer .small {
    color: #888;
}
