@import url(https://fonts.googleapis.com/css?family=Inconsolata:700,400);

body {
    font-family: 'Inconsolata', sans-serif;
}

img {
    width:100%; 
}

p {
    text-align: justify;
}

#preamble {
    margin-top: 20px;
}

#preamble #header{
    text-align: center;
}

.title {
    margin-bottom: 40px;
    font-weight: bold;
    line-height: 0.8;
}

.title .timestamp-wrapper{
    display: block;
}

.title .timestamp{
    font-weight: lighter;
    font-size: 18px;
}

#content {
    margin-bottom: 20px;
}