/* /\* Small devices (tablets, 768px and up) *\/ */
/* @media (min-width: 0px)  */
/* {  */
/*     div[class^="col"]{padding-left:5px; padding-right:5px;} */
/* } */

/* /\* Medium devices (desktops, 992px and up) *\/ */
/* @media (min-width: 992px)  */
/* {    */
/*     div[class^="col"]{padding-left:10px; padding-right:10px;} */
/* } */

/* /\* Large devices (large desktops, 1200px and up) *\/ */
/* @media (min-width: 1200px)  */
/* {    */
/*     /\*default so you don't need this*\/ */
/*     div[class^="col"]{padding-left:15px; padding-right:15px;} */
/* } */

@import url(https://fonts.googleapis.com/css?family=Inconsolata:700,400);

body {
    font-family: 'Inconsolata', sans-serif;
}

img {
    width:100%; 
}

p {
    text-align: justify;
}

#preamble {
    margin-top: 20px;
    display: none;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px;
    width:100%;
}

#header.lrg {
    text-align: center;
}

#header.lrg h4{
    font-weight: 100;
    color: #999999;
}

#header.sml {
    text-align: right;
}

#header.sml div{
    font-weight: 800;
}

#header.sml div#subtitle{
    font-weight: 100;
    color: #999999;
}

.title {
    margin-bottom: 40px;
    font-weight: bold;
    line-height: 0.8;
}

.title .timestamp-wrapper{
    display: block;
}

.title .timestamp{
    font-weight: lighter;
    font-size: 18px;
    color: #999999;
}

#content {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
    min-height: calc(100vh - 120px - 130px);
}

.post-list .timestamp-wrapper{
    float: right;
    margin-right: 30px;
}

#postamble {
    display: none;
}

#footer {
    padding-top: 10px;
    border-top: 1px solid #EEEEEE;
}
#footer p.small {
    color: #888;
}

.facebook-share{
    width: 75px;
    height: 28px;
    background-color: #3C5A99;
    color: white;
    line-height: 26px;
    display: inline-block;
    white-space: ;
    overflow: hidden;
    text-align: left;
    border-radius: 4px;
    padding: 1px 10px 1px 9px;
    outline: 0;
    text-decoration: none;
    margin-left: 5px;
}

.facebook-share:hover{
    color:white;
    background-color:#263963;
}
.facebook-share .icon-facebook-rect {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: transparent 0 0 no-repeat url(../images/facebook-icon.svg);
    /*     background-image: none; */
    /* background: ; */
    background-size: 18px 18px;
}

.facebook-share .text-facebook-rect {
    margin-left: 4px;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    line-height: 26px;
    font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
    font-weight: 500;
    font-size: 13px;
    position:relative;
    top:4px;
}
